.ant-image-preview-img {
  max-width: 50% !important;
  max-height: 90% !important;
}

.ant-image-preview-operations {
  display: none;
}

.customMask {
  width: 100%;
  margin: auto;
  font-size: 40px;
}

@media (max-width: 768px) {
  .ant-tabs-tab {
    padding: 8px 8px 8px 0px !important;
  }

  .ant-tabs-tabpane {
    padding-left: 5px !important;
  }
}